In [1]:
import pandas as pd
from pathlib import Path

In [2]:
influx_path = Path("Outputs/influx.csv")
stations_path = Path("Outputs/stations.csv")
dates_path = Path('Outputs/dates.csv')

In [3]:
influx_df = pd.read_csv(influx_path)
stations_df = pd.read_csv(stations_path)
dates_df = pd.read_csv(dates_path)

In [4]:
influx_df = influx_df[['date', 'station', 'line', 'influx']]
influx_df.head()

         date             station     line  influx
0  2010-01-01            Zaragoza  Línea 1   20227
1  2010-01-01  Isabel la Católica  Línea 1    6487
2  2010-01-01           Moctezuma  Línea 1   10304
3  2010-01-01         Pino Suárez  Línea 1    8679
4  2010-01-01        Gómez Farías  Línea 1   19499

In [5]:
stations_df = stations_df[['station', 'district', 'ints', 'Lat', 'Long']]
stations_df.head()

              station             district  ints        Lat       Long
0            Zaragoza  Venustiano Carranza     1  19.413090 -99.082348
1  Isabel la Católica           Cuauhtémoc     1  19.427258 -99.137948
2           Moctezuma  Venustiano Carranza     1  19.427017 -99.109746
3         Pino Suárez           Cuauhtémoc     2  19.424618 -99.132960
4        Gómez Farías  Venustiano Carranza     1  19.416672 -99.090221

In [6]:
dates_df = dates_df[['date', 'day', 'month', 'year', 'weekday', 'day_off',
                     'season', 'summer_vacations']]
dates_df.head()

         date  day  month  year  weekday  day_off  season  summer_vacations
0  2010-01-01    1  Enero  2010        4     True  winter             False
1  2010-01-02    2  Enero  2010        5    False  winter             False
2  2010-01-03    3  Enero  2010        6    False  winter             False
3  2010-01-04    4  Enero  2010        0    False  winter             False
4  2010-01-05    5  Enero  2010        1    False  winter             False

In [7]:
influx_df = pd.merge(influx_df, stations_df, on="station", how="left")

In [8]:
influx_df = pd.merge(influx_df, dates_df, on="date", how="left")

In [9]:
influx_df.tail()

,date,station,line,influx,district,ints,Lat,Long,day,month,year,weekday,day_off,season,summer_vacations
973240,2023-08-31,Romero Rubio,Línea B,14861,Venustiano Carranza,1,19.440864,-99.094576,31,Agosto,2023,3,False,summer,False
973241,2023-08-31,Río de los Remedios,Línea B,15842,Gustavo A. Madero,1,19.490807,-99.046518,31,Agosto,2023,3,False,summer,False
973242,2023-08-31,San Lázaro,Línea B,24833,Cuauhtémoc,2,19.432183,-99.113614,31,Agosto,2023,3,False,summer,False
973243,2023-08-31,Tepito,Línea B,19832,Cuauhtémémoc,1,19.443016,-99.124170,31,Agosto,2023,3,False,summer,False
973244,2023-08-31,Villa de Aragón,Línea B,15716,Gustavo A. Madero,1,19.461826,-99.061329,31,Agosto,2023,3,False,summer,False

In [10]:
influx_df = influx_df[influx_df['station'].isin(
    ['Zócalo/Tenochtitlan', 'Pino Suárez', 'Allende', 'Bellas Artes', 'Hidalgo'])].copy()

In [11]:
influx_df = influx_df.drop(influx_df[influx_df['influx'] == 0].index)

In [12]:
influx_df.reset_index()
influx_df.tail()

,date,station,line,influx,district,ints,Lat,Long,day,month,year,weekday,day_off,season,summer_vacations
973098,2023-08-31,Hidalgo,Línea 2,31751,Cuauhtémoc,2,19.437547,-99.147162,31,Agosto,2023,3,False,summer,False
973102,2023-08-31,Pino Suárez,Línea 2,43165,Cuauhtémoc,2,19.424618,-99.132960,31,Agosto,2023,3,False,summer,False
973113,2023-08-31,Zócalo/Tenochtitlan,Línea 2,47789,Cuauhtémoc,1,19.432603,-99.132223,31,Agosto,2023,3,False,summer,False
973123,2023-08-31,Hidalgo,Línea 3,11598,Cuauhtémoc,2,19.437547,-99.147162,31,Agosto,2023,3,False,summer,False
973186,2023-08-31,Bellas Artes,Línea 8,19623,Cuauhtémoc,2,19.436582,-99.141610,31,Agosto,2023,3,False,summer,False

In [13]:
influx_df['weekday'] = pd.to_datetime(
    influx_df['weekday'], format='%w').dt.day_name()

In [14]:
day_map = {1: '1st', 2: '2nd', 3: '3rd'}
for i in range(4, 32):
    day_map[i] = f'{i}th'

In [15]:
influx_df['day'] = influx_df['day'].replace(day_map)

In [16]:
influx_df['year'] = influx_df['year'].apply(lambda x: f'year_{x}')

In [17]:
influx_df.head()

,date,station,line,influx,district,ints,Lat,Long,day,month,year,weekday,day_off,season,summer_vacations
3,2010-01-01,Pino Suárez,Línea 1,8679,Cuauhtémoc,2,19.424618,-99.132960,1st,Enero,year_2010,Monday,True,winter,False
42,2010-01-01,Hidalgo,Línea 3,15418,Cuauhtémoc,2,19.437547,-99.147162,1st,Enero,year_2010,Monday,True,winter,False
95,2010-01-01,Bellas Artes,Línea 2,16042,Cuauhtémoc,2,19.436582,-99.141610,1st,Enero,year_2010,Monday,True,winter,False
114,2010-01-01,Bellas Artes,Línea 8,13118,Cuauhtémoc,2,19.436582,-99.141610,1st,Enero,year_2010,Monday,True,winter,False
117,2010-01-01,Allende,Línea 2,6365,Cuauhtémoc,1,19.435916,-99.136854,1st,Enero,year_2010,Monday,True,winter,False

In [18]:
# location dumiies
district_dummies = pd.get_dummies(influx_df["district"])
line_dummies = pd.get_dummies(influx_df["line"])
station_dummies = pd.get_dummies(influx_df["station"])
# date dummies
month_dummies = pd.get_dummies(influx_df["month"])
year_dummies = pd.get_dummies(influx_df["year"])
day_dummies = pd.get_dummies(influx_df["day"])
weekday_dummies = pd.get_dummies(influx_df["weekday"])
season_dummies = pd.get_dummies(influx_df['season'])

In [19]:
# one hot encoding
dummies_influx_df = pd.concat([influx_df, line_dummies, district_dummies,
                              station_dummies, month_dummies, year_dummies,
                              day_dummies, weekday_dummies, season_dummies], axis=1)

In [20]:
dummies_influx_df.tail()

,date,station,line,influx,district,ints,Lat,Long,day,month,...,5th,6th,7th,8th,9th,Monday,autumn,spring,summer,winter
973098,2023-08-31,Hidalgo,Línea 2,31751,Cuauhtémoc,2,19.437547,-99.147162,31th,Agosto,...,0,0,0,0,0,1,0,0,1,0
973102,2023-08-31,Pino Suárez,Línea 2,43165,Cuauhtémoc,2,19.424618,-99.132960,31th,Agosto,...,0,0,0,0,0,1,0,0,1,0
973113,2023-08-31,Zócalo/Tenochtitlan,Línea 2,47789,Cuauhtémoc,1,19.432603,-99.132223,31th,Agosto,...,0,0,0,0,0,1,0,0,1,0
973123,2023-08-31,Hidalgo,Línea 3,11598,Cuauhtémoc,2,19.437547,-99.147162,31th,Agosto,...,0,0,0,0,0,1,0,0,1,0
973186,2023-08-31,Bellas Artes,Línea 8,19623,Cuauhtémoc,2,19.436582,-99.141610,31th,Agosto,...,0,0,0,0,0,1,0,0,1,0

In [21]:
dummies_influx_df['date'] = pd.to_datetime(dummies_influx_df['date'])

In [22]:
influx_2010_2020 = dummies_influx_df[(dummies_influx_df['date'].dt.year >= 2010) & (
    dummies_influx_df['date'].dt.year <= 2019)]

In [23]:
# droping columns
influx_2010_2020 = influx_2010_2020.drop(columns=['date', 'station', 'line', 'district', 'ints', 'Lat', 'Long',
                                                  'day', 'month', 'year', 'weekday', 'day_off', 'season', 'summer_vacations'])

In [24]:
influx_2010_2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29121 entries, 3 to 712080
Data columns (total 73 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   influx               29121 non-null  int64
 1   Línea 1              29121 non-null  uint8
 2   Línea 2              29121 non-null  uint8
 3   Línea 3              29121 non-null  uint8
 4   Línea 8              29121 non-null  uint8
 5   Cuauhtémoc           29121 non-null  uint8
 6   Allende              29121 non-null  uint8
 7   Bellas Artes         29121 non-null  uint8
 8   Hidalgo              29121 non-null  uint8
 9   Pino Suárez          29121 non-null  uint8
 10  Zócalo/Tenochtitlan  29121 non-null  uint8
 11  Abril                29121 non-null  uint8
 12  Agosto               29121 non-null  uint8
 13  Diciembre            29121 non-null  uint8
 14  Enero                29121 non-null  uint8
 15  Febrero              29121 non-null  uint8
 16  Julio                29121 non-null  uint8
 17  Junio                29121 non-null  uint8
 18  Marzo                29121 non-null  uint8
 19  Mayo                 29121 non-null  uint8
 20  Noviembre            29121 non-null  uint8
 21  Octubre              29121 non-null  uint8
 22  Septiembre           29121 non-null  uint8
 23  year_2010            29121 non-null  uint8
 24  year_2011            29121 non-null  uint8
 25  year_2012            29121 non-null  uint8
 26  year_2013            29121 non-null  uint8
 27  year_2014            29121 non-null  uint8
 28  year_2015            29121 non-null  uint8
 29  year_2016            29121 non-null  uint8
 30  year_2017            29121 non-null  uint8
 31  year_2018            29121 non-null  uint8
 32  year_2019            29121 non-null  uint8
 33  year_2020            29121 non-null  uint8
 34  year_2021            29121 non-null  uint8
 35  year_2022            29121 non-null  uint8
 36  year_2023            29121 non-null  uint8
 37  10th                 29121 non-null  uint8
 38  11th                 29121 non-null  uint8
 39  12th                 29121 non-null  uint8
 40  13th                 29121 non-null  uint8
 41  14th                 29121 non-null  uint8
 42  15th                 29121 non-null  uint8
 43  16th                 29121 non-null  uint8
 44  17th                 29121 non-null  uint8
 45  18th                 29121 non-null  uint8
 46  19th                 29121 non-null  uint8
 47  1st                  29121 non-null  uint8
 48  20th                 29121 non-null  uint8
 49  21th                 29121 non-null  uint8
 50  22th                 29121 non-null  uint8
 51  23th                 29121 non-null  uint8
 52  24th                 29121 non-null  uint8
 53  25th                 29121 non-null  uint8
 54  26th                 29121 non-null  uint8
 55  27th                 29121 non-null  uint8
 56  28th                 29121 non-null  uint8
 57  29th                 29121 non-null  uint8
 58  2nd                  29121 non-null  uint8
 59  30th                 29121 non-null  uint8
 60  31th                 29121 non-null  uint8
 61  3rd                  29121 non-null  uint8
 62  4th                  29121 non-null  uint8
 63  5th                  29121 non-null  uint8
 64  6th                  29121 non-null  uint8
 65  7th                  29121 non-null  uint8
 66  8th                  29121 non-null  uint8
 67  9th                  29121 non-null  uint8
 68  Monday               29121 non-null  uint8
 69  autumn               29121 non-null  uint8
 70  spring               29121 non-null  uint8
 71  summer               29121 non-null  uint8
 72  winter               29121 non-null  uint8
dtypes: int64(1), uint8(72)
memory usage: 2.4 MB

In [25]:
influx_2010_2020.describe()

,influx,Línea 1,Línea 2,Línea 3,Línea 8,Cuauhtémoc,Allende,Bellas Artes,Hidalgo,Pino Suárez,...,5th,6th,7th,8th,9th,Monday,autumn,spring,summer,winter
count,29121.000000,29121.000000,29121.000000,29121.000000,29121.000000,29121.0,29121.000000,29121.000000,29121.000000,29121.000000,...,29121.000000,29121.000000,29121.000000,29121.000000,29121.000000,29121.0,29121.000000,29121.000000,29121.000000,29121.000000
mean,32818.487140,0.125133,0.624601,0.125133,0.125133,1.0,0.125133,0.250266,0.250266,0.250266,...,0.032932,0.032932,0.032932,0.032966,0.032966,1.0,0.246867,0.252739,0.252739,0.247656
std,17894.593827,0.330875,0.484234,0.330875,0.330875,0.0,0.330875,0.433174,0.433174,0.433174,...,0.178461,0.178461,0.178461,0.178550,0.178550,0.0,0.431196,0.434590,0.434590,0.431659
min,2.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000
25%,21542.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000
50%,28320.000000,0.000000,1.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000
75%,36929.000000,0.000000,1.000000,0.000000,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,1.000000,1.000000,0.000000
max,157039.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000

In [26]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score, mean_absolute_percentage_error
from sklearn.ensemble import RandomForestRegressor

In [27]:
mode_data_test2 = influx_2010_2020.copy()

In [28]:
# split data
y = mode_data_test2["influx"]
X = mode_data_test2.drop(columns="influx")
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y)

In [29]:
X_scaler = StandardScaler()
X_scaler = X_scaler.fit(X_train)
X_train_scaled = X_scaler.fit_transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [30]:
model_tree = DecisionTreeRegressor()
model_tree.fit(X_train_scaled, y_train)
predictions_lr_a = model_tree.predict(X_test_scaled)
lr_a_r2_score_test = r2_score(y_test, predictions_lr_a)
lr_a_mape_test = mean_absolute_percentage_error(y_test, predictions_lr_a)
print("R_sqr: {}, mean_absolut_percentage_error: {}".format(
    lr_a_r2_score_test, lr_a_mape_test))
predictions_model = model_tree.predict(X_test)
resultados = pd.DataFrame({'Real': y_test, 'Estimado': predictions_model})

R_sqr: 0.6761240950589228, mean_absolut_percentage_error: 1.7756532046421178

c:\Users\alvar\anaconda3\Lib\site-packages\sklearn\base.py:432: UserWarning: X has feature names, but DecisionTreeRegressor was fitted without feature names
  warnings.warn(

In [31]:
resultados.tail(15)

         Real  Estimado
526035  27987   37085.0
170140  34740   28902.0
103279  52519   30718.0
342290  40613   39025.0
248766  24250   38112.0
87885   16625   28902.0
536376  73955   30718.0
478080  14274   39025.0
118671  54100   31751.0
315047  70433   30718.0
588434  33208   37085.0
95020   16831   28902.0
291181  52488   31751.0
160727  17705   28902.0
163406  31549   27246.0

In [32]:
model_forest = RandomForestRegressor()
model_forest.fit(X_train_scaled, y_train)
predictions_lr_a = model_forest.predict(X_test_scaled)
lr_a_r2_score_test = r2_score(y_test, predictions_lr_a)
lr_a_mape_test = mean_absolute_percentage_error(y_test, predictions_lr_a)
print("R_sqr: {}, mean_absolut_percentage_error: {}".format(
    lr_a_r2_score_test, lr_a_mape_test))
predictions_model = model_forest.predict(X_test)
resultados = pd.DataFrame({'Real': y_test, 'Estimado': predictions_model})

R_sqr: 0.7815043078378431, mean_absolut_percentage_error: 1.7545031985428408

c:\Users\alvar\anaconda3\Lib\site-packages\sklearn\base.py:432: UserWarning: X has feature names, but RandomForestRegressor was fitted without feature names
  warnings.warn(

In [33]:
resultados.tail(15)

         Real  Estimado
526035  27987  30591.64
170140  34740  35668.98
103279  52519  28288.40
342290  40613  37748.30
248766  24250  36878.60
87885   16625  35668.98
536376  73955  28288.40
478080  14274  37748.30
118671  54100  28758.27
315047  70433  28288.40
588434  33208  28229.06
95020   16831  35668.98
291181  52488  27838.06
160727  17705  35668.98
163406  31549  25539.80

In [34]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import numpy as np

In [35]:
model = keras.Sequential(
    [
        layers.Dense(64, activation="relu",
                     input_shape=(X_train_scaled.shape[1],)),
        layers.Dense(1),
    ]
)

In [36]:
model.compile(loss="mean_absolute_percentage_error", optimizer="adam")

In [37]:
history = model.fit(X_train_scaled, y_train, epochs=100,
                    batch_size=32, validation_split=0.2)

Epoch 1/100
546/546 [==============================] - 1s 1ms/step - loss: 99.9799 - val_loss: 99.9715
Epoch 2/100
546/546 [==============================] - 1s 1ms/step - loss: 99.9470 - val_loss: 99.9618
Epoch 3/100
546/546 [==============================] - 1s 1ms/step - loss: 99.9308 - val_loss: 99.9476
Epoch 4/100
546/546 [==============================] - 1s 1ms/step - loss: 99.9200 - val_loss: 99.9349
Epoch 5/100
546/546 [==============================] - 1s 1ms/step - loss: 99.8975 - val_loss: 99.9130
Epoch 6/100
546/546 [==============================] - 1s 1ms/step - loss: 99.8735 - val_loss: 99.8896
Epoch 7/100
546/546 [==============================] - 1s 1ms/step - loss: 99.8338 - val_loss: 99.8557
Epoch 8/100
546/546 [==============================] - 1s 1ms/step - loss: 99.8220 - val_loss: 99.8328
Epoch 9/100
546/546 [==============================] - 1s 1ms/step - loss: 99.7928 - val_loss: 99.8027
Epoch 10/100
546/546 [==============================] - 1s 1ms/step - loss: 99.7443 - val_loss: 99.7570
Epoch 11/100
546/546 [==============================] - 1s 1ms/step - loss: 99.6976 - val_loss: 99.7108
Epoch 12/100
546/546 [==============================] - 1s 1ms/step - loss: 99.6393 - val_loss: 99.6378
Epoch 13/100
546/546 [==============================] - 1s 1ms/step - loss: 99.5844 - val_loss: 99.5684
Epoch 14/100
546/546 [==============================] - 1s 1ms/step - loss: 99.5044 - val_loss: 99.4977
Epoch 15/100
546/546 [==============================] - 1s 1ms/step - loss: 99.4181 - val_loss: 99.4160
Epoch 16/100
546/546 [==============================] - 1s 1ms/step - loss: 99.3378 - val_loss: 99.3040
Epoch 17/100
546/546 [==============================] - 1s 1ms/step - loss: 99.2150 - val_loss: 99.1848
Epoch 18/100
546/546 [==============================] - 1s 1ms/step - loss: 99.0919 - val_loss: 99.0428
Epoch 19/100
546/546 [==============================] - 1s 1ms/step - loss: 98.9153 - val_loss: 98.8700
Epoch 20/100
546/546 [==============================] - 1s 1ms/step - loss: 98.7475 - val_loss: 98.6702
Epoch 21/100
546/546 [==============================] - 1s 1ms/step - loss: 98.4944 - val_loss: 98.4073
Epoch 22/100
546/546 [==============================] - 1s 1ms/step - loss: 98.2475 - val_loss: 98.0884
Epoch 23/100
546/546 [==============================] - 1s 1ms/step - loss: 97.8975 - val_loss: 97.7644
Epoch 24/100
546/546 [==============================] - 1s 1ms/step - loss: 97.5558 - val_loss: 97.4192
Epoch 25/100
546/546 [==============================] - 1s 1ms/step - loss: 97.1858 - val_loss: 97.0320
Epoch 26/100
546/546 [==============================] - 1s 1ms/step - loss: 96.7963 - val_loss: 96.5635
Epoch 27/100
546/546 [==============================] - 1s 1ms/step - loss: 96.2679 - val_loss: 96.0578
Epoch 28/100
546/546 [==============================] - 1s 1ms/step - loss: 95.7649 - val_loss: 95.4732
Epoch 29/100
546/546 [==============================] - 1s 1ms/step - loss: 95.1372 - val_loss: 94.8360
Epoch 30/100
546/546 [==============================] - 1s 1ms/step - loss: 94.4935 - val_loss: 94.0856
Epoch 31/100
546/546 [==============================] - 1s 1ms/step - loss: 93.7413 - val_loss: 93.2146
Epoch 32/100
546/546 [==============================] - 1s 1ms/step - loss: 92.8442 - val_loss: 92.4309
Epoch 33/100
546/546 [==============================] - 1s 1ms/step - loss: 92.0527 - val_loss: 91.5965
Epoch 34/100
546/546 [==============================] - 1s 1ms/step - loss: 91.1862 - val_loss: 90.6490
Epoch 35/100
546/546 [==============================] - 1s 1ms/step - loss: 90.1906 - val_loss: 89.7015
Epoch 36/100
546/546 [==============================] - 1s 1ms/step - loss: 89.2091 - val_loss: 88.7015
Epoch 37/100
546/546 [==============================] - 1s 1ms/step - loss: 88.1905 - val_loss: 87.6508
Epoch 38/100
546/546 [==============================] - 1s 1ms/step - loss: 87.1833 - val_loss: 86.5015
Epoch 39/100
546/546 [==============================] - 1s 1ms/step - loss: 85.9624 - val_loss: 85.2737
Epoch 40/100
546/546 [==============================] - 1s 1ms/step - loss: 84.7018 - val_loss: 84.0389
Epoch 41/100
546/546 [==============================] - 1s 1ms/step - loss: 83.7183 - val_loss: 82.9302
Epoch 42/100
546/546 [==============================] - 1s 1ms/step - loss: 82.4122 - val_loss: 81.7302
Epoch 43/100
546/546 [==============================] - 1s 1ms/step - loss: 81.1753 - val_loss: 80.4489
Epoch 44/100
546/546 [==============================] - 1s 1ms/step - loss: 79.8172 - val_loss: 79.0894
Epoch 45/100
546/546 [==============================] - 1s 1ms/step - loss: 78.4617 - val_loss: 77.7065
Epoch 46/100
546/546 [==============================] - 1s 1ms/step - loss: 77.0430 - val_loss: 76.2900
Epoch 47/100
546/546 [==============================] - 1s 1ms/step - loss: 75.5819 - val_loss: 74.8080
Epoch 48/100
546/546 [==============================] - 1s 1ms/step - loss: 74.1109 - val_loss: 73.2423
Epoch 49/100
546/546 [==============================] - 1s 1ms/step - loss: 72.4872 - val_loss: 71.7005
Epoch 50/100
546/546 [==============================] - 1s 1ms/step - loss: 71.0088 - val_loss: 70.1338
Epoch 51/100
546/546 [==============================] - 1s 1ms/step - loss: 69.5206 - val_loss: 68.6369
Epoch 52/100
546/546 [==============================] - 1s 1ms/step - loss: 67.9478 - val_loss: 67.1702
Epoch 53/100
546/546 [==============================] - 1s 1ms/step - loss: 66.5418 - val_loss: 65.7886
Epoch 54/100
546/546 [==============================] - 1s 1ms/step - loss: 65.3535 - val_loss: 64.4282
Epoch 55/100
546/546 [==============================] - 1s 1ms/step - loss: 63.7678 - val_loss: 63.0698
Epoch 56/100
546/546 [==============================] - 1s 1ms/step - loss: 62.3935 - val_loss: 61.6929
Epoch 57/100
546/546 [==============================] - 1s 1ms/step - loss: 61.0382 - val_loss: 60.3054
Epoch 58/100
546/546 [==============================] - 1s 1ms/step - loss: 59.7478 - val_loss: 58.9653
Epoch 59/100
546/546 [==============================] - 1s 1ms/step - loss: 58.3324 - val_loss: 57.6475
Epoch 60/100
546/546 [==============================] - 1s 1ms/step - loss: 57.2741 - val_loss: 56.4240
Epoch 61/100
546/546 [==============================] - 1s 1ms/step - loss: 56.0354 - val_loss: 55.2616
Epoch 62/100
546/546 [==============================] - 1s 1ms/step - loss: 54.9182 - val_loss: 54.2409
Epoch 63/100
546/546 [==============================] - 1s 1ms/step - loss: 54.0238 - val_loss: 53.2631
Epoch 64/100
546/546 [==============================] - 1s 1ms/step - loss: 53.0495 - val_loss: 52.3137
Epoch 65/100
546/546 [==============================] - 1s 1ms/step - loss: 52.1415 - val_loss: 51.3954
Epoch 66/100
546/546 [==============================] - 1s 1ms/step - loss: 51.1018 - val_loss: 50.4603
Epoch 67/100
546/546 [==============================] - 1s 1ms/step - loss: 50.2923 - val_loss: 49.5428
Epoch 68/100
546/546 [==============================] - 1s 1ms/step - loss: 49.4395 - val_loss: 48.7197
Epoch 69/100
546/546 [==============================] - 1s 1ms/step - loss: 48.7127 - val_loss: 48.0056
Epoch 70/100
546/546 [==============================] - 1s 1ms/step - loss: 47.8906 - val_loss: 47.3480
Epoch 71/100
546/546 [==============================] - 1s 1ms/step - loss: 47.2967 - val_loss: 46.6544
Epoch 72/100
546/546 [==============================] - 1s 1ms/step - loss: 46.5993 - val_loss: 45.9482
Epoch 73/100
546/546 [==============================] - 1s 1ms/step - loss: 46.0913 - val_loss: 45.2775
Epoch 74/100
546/546 [==============================] - 1s 1ms/step - loss: 45.3866 - val_loss: 44.6435
Epoch 75/100
546/546 [==============================] - 1s 1ms/step - loss: 44.8227 - val_loss: 44.0747
Epoch 76/100
546/546 [==============================] - 1s 1ms/step - loss: 44.2674 - val_loss: 43.5693
Epoch 77/100
546/546 [==============================] - 1s 1ms/step - loss: 43.7557 - val_loss: 43.1104
Epoch 78/100
546/546 [==============================] - 1s 1ms/step - loss: 43.4254 - val_loss: 42.6290
Epoch 79/100
546/546 [==============================] - 1s 1ms/step - loss: 42.9501 - val_loss: 42.1715
Epoch 80/100
546/546 [==============================] - 1s 1ms/step - loss: 42.6052 - val_loss: 41.7239
Epoch 81/100
546/546 [==============================] - 1s 1ms/step - loss: 42.0194 - val_loss: 41.3485
Epoch 82/100
546/546 [==============================] - 1s 1ms/step - loss: 41.8313 - val_loss: 40.9008
Epoch 83/100
546/546 [==============================] - 1s 1ms/step - loss: 41.3130 - val_loss: 40.5108
Epoch 84/100
546/546 [==============================] - 1s 1ms/step - loss: 40.9964 - val_loss: 40.1711
Epoch 85/100
546/546 [==============================] - 1s 1ms/step - loss: 40.5965 - val_loss: 39.7598
Epoch 86/100
546/546 [==============================] - 1s 1ms/step - loss: 40.4040 - val_loss: 39.4103
Epoch 87/100
546/546 [==============================] - 1s 1ms/step - loss: 40.2914 - val_loss: 39.0958
Epoch 88/100
546/546 [==============================] - 1s 1ms/step - loss: 39.6812 - val_loss: 38.8411
Epoch 89/100
546/546 [==============================] - 1s 1ms/step - loss: 39.4667 - val_loss: 38.5308
Epoch 90/100
546/546 [==============================] - 1s 1ms/step - loss: 39.3885 - val_loss: 38.2987
Epoch 91/100
546/546 [==============================] - 1s 1ms/step - loss: 39.0368 - val_loss: 38.0476
Epoch 92/100
546/546 [==============================] - 1s 1ms/step - loss: 38.7548 - val_loss: 37.8385
Epoch 93/100
546/546 [==============================] - 1s 1ms/step - loss: 38.5434 - val_loss: 37.5555
Epoch 94/100
546/546 [==============================] - 1s 1ms/step - loss: 38.7269 - val_loss: 37.3921
Epoch 95/100
546/546 [==============================] - 1s 1ms/step - loss: 38.2234 - val_loss: 37.1882
Epoch 96/100
546/546 [==============================] - 1s 1ms/step - loss: 38.0632 - val_loss: 37.0217
Epoch 97/100
546/546 [==============================] - 1s 1ms/step - loss: 37.7514 - val_loss: 36.8424
Epoch 98/100
546/546 [==============================] - 1s 1ms/step - loss: 37.7041 - val_loss: 36.6618
Epoch 99/100
546/546 [==============================] - 1s 1ms/step - loss: 37.5661 - val_loss: 36.5135
Epoch 100/100
546/546 [==============================] - 1s 1ms/step - loss: 37.3914 - val_loss: 36.3673

In [38]:
test_scores = model.evaluate(X_test_scaled, y_test, verbose=2)
print("Test loss:", test_scores)

228/228 - 0s - loss: 78.6435 - 192ms/epoch - 841us/step
Test loss: 78.64353942871094

In [39]:
predictions_model = model.predict(X_test_scaled)

228/228 [==============================] - 0s 878us/step

In [48]:
data = {"Predicted": np.array(
    predictions_model).flatten(), "True": np.array(y_test).flatten()}

In [49]:
df = pd.DataFrame(data)

In [50]:
df.tail(15)

         Predicted   True
7266  26585.484375  27987
7267  25445.212891  34740
7268  21088.978516  52519
7269  24201.298828  40613
7270  25656.447266  24250
7271  17266.599609  16625
7272  21522.878906  73955
7273   2367.384277  14274
7274   4015.830322  54100
7275  19795.222656  70433
7276  22811.306641  33208
7277  21229.275391  16831
7278  16061.305664  52488
7279  21229.355469  17705
7280  12741.713867  31549